[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/neufeld-ns
[access "refs/for/refs/*"]
	read = group user/neufeld-ns
	push = group user/neufeld-ns
	label-Code-Review = -2..+2 group user/neufeld-ns
	label-Verified = -1..+1 group user/neufeld-ns
	rebase = group user/neufeld-ns
	removeReviewer = group user/neufeld-ns
	submit = group user/neufeld-ns
[access "refs/heads/*"]
	read = group user/neufeld-ns
	create = group user/neufeld-ns
	push = +force group user/neufeld-ns
	pushMerge = group user/neufeld-ns
[access "refs/tags/*"]
	push = +force group user/neufeld-ns
	pushTag = group user/neufeld-ns
	pushSignedTag = group user/neufeld-ns
